<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css" type="text/css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" language="javascript"></script>
  <script src="//github.com/fyneworks/multifile/blob/master/jQuery.MultiFile.min.js" type="text/javascript" language="javascript"></script>
  <script type="text/javascript">
    function caution() {
      const amount = parseInt(document.getElementById("inQuantity").value);
      const stock = parseInt(document.getElementById("inAmount").value);
      const buying = document.getElementById("buy").value;
      if (amount > stock && buying){
        $("#inQuantity").addClass("is-invalid");
        alert("The given quantity is not valid");

        return false;
      }else if (!buying){
        return true;
      }
    }

  </script>
  <script>
    function verify(){
      const files = document.getElementById("inputGroupFile02");
      const button = document.getElementById("btnSumi");
      const selectedFile = [...files.files];
      console.log(selectedFile);
      if (selectedFile.length > 3){
        alert("The quantity of photos is not valid");
        button.disabled = true;
        return false;
      }
      button.disabled = false;
      return true;
    }


  </script>

  <title th:text="${title}">Prueba</title>
</head>
<body>
<header th:replace="base.html :: header"></header>

<div class="row justify-content-md-center align-items-center" style="margin-top: 50px">
  <div class="col"></div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card bg-secondary">
      <div class="card-header">
        <a th:text="${action}">Create Product</a>
      </div>
      <form id="form-login" enctype="multipart/form-data" onsubmit="return caution()" method="post" th:attr="action=${action_form}" >
      <div class="card-body">

          <fieldset>
            <div class="form-group">
              <label for="userName" class="form-label mt-4">Name</label>
              <input type="text" name="name" th:readonly="${buying} == false? ${edit} : true"  th:value="${product} ? ${product.name} : ''" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Product name" required>
            </div>
            <div class="form-group">
              <label class="form-label mt-4">Price</label>
              <div class="form-group">
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="number" class="form-control" th:readonly="${buying}" name="price" th:value="${product} ? ${product.price} : ''" aria-label="Amount (to the nearest dollar)">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label mt-3 is-invalid" th:text="${buying} ? 'Available' : 'Amount'"  for="inAmount">Amount</label>
              <input type="number" class="form-control" th:readonly="${buying} " name="amount" th:value="${product} ? ${product.amount} : ''" placeholder="Product stock" id="inAmount" required>
            </div>
            <div class="form-group">
              <label for="exampleTextarea" class="form-label mt-4">Description</label>
              <textarea class="form-control" th:readonly="${buying} " name="description" th:text="${product} ? ${product.description} : ''" placeholder="Description..." id="exampleTextarea" rows="3" required></textarea>
            </div>
            <div class="form-group" th:hidden="(${product} ? (${product.getPictures().size()} == 3 ? true : false) : false) or ${buying}">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="picture" accept="image/*" onchange="verify()"  th:hidden="${buyin}" multiple  id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text">Upload</span>
                </div>
              </div>
            </div>

            <div class="form-group" th:hidden="${isLogged}">
              <label class="col-form-label mt-3"   for="inQuantity">Quantity</label>
              <input type="number" class="form-control" th:disabled="${product} ? (${product.amount} > 0 ? false : true) : false" name="quantity" th:value="'1'"  placeholder="Product quantity" id="inQuantity" required>
            </div>
            <input id="buy" th:value="${buying} ? true : false" th:hidden="true">
            <input id="active" name="active" th:hidden="true" th:value="${product} ? ${product.active} : ''">

          </fieldset>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" id="btnSumi" th:hidden="${buying}" th:text="${product} ? 'Edit' : 'Create'" >Create</button>
        <button type="submit" class="btn btn-success" th:disabled="${product} ? (${product.amount} > 0 ? false : true) : true"  th:hidden= "${isLogged}">Add to cart</button>
        <a class="btn btn-danger" href="/product">Cancel</a>
      </div>
      </form>
    </div>
  </div>


  <div class="col"></div>
</div>


<div th:replace="base.html::javascript">
</div>
</body>
</html>